
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made in September 2019.  You can find the code on Github <a href="https://github.com/chrisbmar/blog" target="_blank">here.</a></p>
  </div>
</div>
</body>
</html>
