<%- include('partials/header') %>

<h1 class="page-title">About</h1>
<div class="about-container">
    <p>At the start of 2019, I made the choice to dive head-first into Software Development. 
        Since then, I’ve completed two Intensive Online Bootcamp Courses, became proficient 
        in HTML, CSS and Javascript, created Front-End projects with React.js and Vue.js, 
        created Back-End projects with Node.js, and created Full-Stack Web applications.
    </p>
    <br>
    <p>I’ve made this blog to combine some of the technologies I’ve been working with recently 
        over the last few months. The Frontend has been created with HTML, CSS, customized 
        Bootstrap and Javascript. The Backend is using Node.js with Express and EJS for dynamic
        client-side templating. Blog posts are written in Markdown and converted by the Showdown
        package to HTML. The blog posts are stored in MongoDB using MongoAtlas. Authentication
        for the “/compose” endpoint is handled by Passport.js along with cookies and sessions 
        on the Backend. 
    </p>
    <br>
    <p>An entire API was created from scratch that interacts with MailChimp's servers by using the NPM 
        (request module). This posts the data from the user entries to a subscribers list registered 
        on my MailChimp account. 
    </p>
    <br>
    <p>As I learn more technologies, I will continue to treat this blog project as a ‘playground’ for 
        testing functionality and combining what I’ve learned into a practical and more efficient application. 
    </p>
    <br>
    <p>If you would like to see my other projects, I have created a portfolio <a href="https://chrisbmar.com" target="_blank">website</a>, and all of the code for 
        my projects can be found on <a href="https://github.com/chrisbmar/" target="_blank">GitHub</a>. 
    </p>
    <br>
    <p>I’m currently looking for Software Development opportunities either Frontend or Full-Stack and I’m 
        always interested in a challenge. Reach out to <a href="mailto:chrisabmartin@gmail.com" target="_blank">chrisabmartin@gmail.com</a> to connect!
    </p>
</div>

<%- include('partials/footer') %>