<%- include('partials/header') %>

<h1 class="page-title">Contact</h1>
<p>Feel free to get in touch with me using any of the channels below.</p>


<div class="contactinfo">
    <a href="https://chrisbmar.com" target="_blank"><div class="contact-method">
        <i class="fas fa-globe-americas"></i><p>https://chrisbmar.com/</p>
    </div></a>
    <a href="https://www.linkedin.com/in/chrisbmar" target="_blank"><div class="contact-method">
        <i class="fab fa-linkedin"></i><p>https://www.linkedin.com/in/chrisbmar/</p>
    </div></a>
    <a href="https://github.com/chrisbmar" target="_blank"><div class="contact-method">
        <i class="fab fa-github-square"></i><p>https://github.com/chrisbmar</p>
    </div></a>
    <a href="mailto:chrisabmartin@gmail.com"><div class="contact-method">
        <i class="fas fa-at"></i><p>chrisabmartin@gmail.com</p>
    </div></a>
</div>

<%- include('partials/footer') %>