<%- include('partials/header') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Uh oh!</h1>
        <p class="lead">There was an error. <%= userEmailError %> Please try again.</p>

        <div id="form-buttons">
            <form action="/" method="GET">
                <button type="submit" id="button" class="publish-button">HOME</button>
            </form>

            <form action="/login" method="GET">
                <button type="submit" id="button" class="publish-button">LOG IN</button>
            </form>

            <form action="/register" method="GET">
                <button type="submit" id="button" class="publish-button">REGISTER</button>
            </form>
        </div>   


    </div>
</div>


<%- include('partials/footer') %>